<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>{{title}}</title>
</head>
<body>
    <header>
        
        {{!-- <nav>
            <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/appointment">Appointment</a></li>
            <li><a href="/emergency">EMERGENCY</a></li>
            <li><a href="/nearByClinic">Near By Clinic</a></li>
            </ul>
        </nav> --}}
      
    </header>
    <main>
    {{{body}}}
    </main>
    <footer>
        
        
       
    </footer>
    <div id="map-template"></div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/js/helper.js"></script>
</body>
</html>