 <link rel="stylesheet" href="/css/emergencyStyle.css">
<div id="map-template" class="emergencyMap"></div>

<div class="helper-detail">
    <div class="helper">
        <div class="title">
            <p>Nearest Helper: </p>
            <p>1.5km</p>
        </div>
        <div class="title">
            <p>Trang Nguyen</p>
            <p>3min</p>
        </div>
    </div>
    <div class="helper">
        <div class="title">
            <p>Nearest Helper: </p>
            <p>5km</p>
        </div>
        <div class="title">
            <p>Suhhee Kim</p>
            <p>15min</p>
        </div>
    </div>
</div>

{{!-- <div class="lds-dual-ring"></div> --}}
