 <link rel="stylesheet" href="/css/emergencyStyle.css">
<div id="map-template" class="emergencyMap"></div>
<div class="doctor">
    <div class="title">Nearest Doctor: </div>
    <div>Suhhee Kim</div>
    <div>5km</div>
    <div>15min</div>
</div>
<div class="helper">
    <div class="title">Nearest Helper: </div>
    <div>Trang Nguyen</div>
    <div>1km</div>
    <div>5min</div>
</div>