 <link rel="stylesheet" href="/css/emergencyStyle.css">

<div id="map-template" class="emergencyMap"></div>

<div class="helper-detail top">
    <div class="helper">
        <div class="title">
            <div>Nearest Helper: </div>
            <div>1.5km</div>
        </div>
        <div class="title">
            <div>Trang Nguyen</div>
            <div>3min</div>
        </div>
    </div>
    <div class="helper">
        <div class="title">
            <div>Nearest Helper: </div>
            <div>5km</div>
        </div>
        <div class="title">
            <div>Suhhee Kim</div>
            <div>15min</div>
        </div>
    </div>
</div>

{{!-- <div class="lds-dual-ring"></div> --}}
