    <link rel="stylesheet" href="/css/helper_nearByClinic.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>

<div class="container">
    <div id="showNearByClinicsWrapper">
        <div class="streetWrapper">
            <i class="fas fa-map-marker-alt"></i>
            <p>Enter Street Address</p>
        </div>
        <ul>
            <li>Hospital</li>
            <ul>
                <li><a href="#">North York - 3km - 5mins</a></li>
                <li><a href="#">North York - 3km - 5mins</a></li>
            </ul>
            <li>Doctors</li>
            <ul>
                <li><a href="#">North York - 3km - 5mins</a></li>
                <li><a href="#">North York - 3km - 5mins</a></li>
            </ul>
        </ul>

    </div>
     <div id="map-template"></div>

    

</div>
