<link rel="stylesheet" href="/css/helper_confirmHelp.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>

<div class="container">
    <div id="confirmWrapper">
        <h2>Emergency</h2>
        <div class="introuble">
            <p>Ms. Gina is in trouble</p>
            <button  class="btn-warning">Listen to her message</button>
        </div>

    </div>
     <div id="map-template"></div>
</div>

<div class="container d-flex ">
    <a href="/helper/helpPage"><button class="btn btn-primary">Help her</button></a>
    <a href="/helper/bye"><button class="btn btn-secondary">I'll ask for somebody else to help</button></a>
</div>