    <link rel="stylesheet" href="/css/helper.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
<div class="container">
    <div id="contactpatient">
        <div class="patient-info-container">
            <div class="images">
                <img src="/image/Agen.jpeg" width="40px" height="40px"/>
            </div>
            <div class="patient-info-wrapper">
                <h6>Angelina</h6>
                <h6>View patient profile</h6>
            </div>

        </div>
        <div class="contactBtn">
            <i class="fas fa-phone-volume"></i>
            <p>Contact</p>
        </div>
    </div>
     <div id="map-template"></div>


     <div id="needyourhelp">
        <p>Somebody needs your help!</p>
    </div>

    <div id="helperController">
        <div class="progressBarWrapper">
            <i class="fas fa-map-marker-alt"></i>
            <div class="lineProgress"></div>
        </div>
        <div class="HelperInfoWrapper">
            <h6>Pick up</h6>
            <p>12:45 PM</p>
            <h6>757 Cadar St, San Calos</h6>
            <div class="imgContainer">
                <img src="/image/Agen.jpeg" width="70px" height="70px"/>
                <p>Kate</p>
            </div>

        </div>
        <div class="inprogress">In Progress</div>
    </div>

</div>
