<link rel="stylesheet" href="/css/helper_thankyou.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
<div class="container">
    <div class="helperWrapper">
        <div class="helperIconWrapper">
            <div>
                <img src="/image/Agen.jpeg" width="50px" height="50px"/>
            </div>
            <i class="fas fa-hand-holding-heart"></i>
            <div>
                <img src="/image/Agen.jpeg" width="50px" height="50px"/>
            </div>
        </div>
        <p>Tuesday, 14 March 2021</p>
    </div>
    <div class="excellent">
        <p>Excellent Helper</p>
        <div class="starWrapper">
            <i class="fas fa-heart"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-heart"></i>
        </div>
    </div>
    <div class="feedback">
        <div class="image">
            <img src="/image/Agen.jpeg" width="50px" height="50px"/>
        </div>
        <div>
            <p>Hi, I'm Jason, Tina's husband. Thank you for your help to take her to the hospital when I wasnt there.</p>
        </div>
    </div>
    <div class="levelup">
        <img src="/image/levelup.jpg" width="60px" height="60px"/>
        <p>Jason has just sent +10 hearts to your account</p>
        <p>You're level up to Excellent helper and got +100 bonus in account</p>
        <img src="/image/thank-you.png" width="180px" height="120px"/>
        <p id="slogan">Together, we can make this world a better place!</p>
    </div>


</div>