    <link rel="stylesheet" href="/css/helper.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
<div class="container">
    <div id="contactpatient">
        <div class="patient-info-container">
            <div class="images">
                <img src="/image/Agen.jpeg" width="40px" height="40px"/>
            </div>
            <div class="patient-info-wrapper">
                <div>Angelina</div>
                <div>View patient profile</div>
            </div>

        </div>
        <div class="contactBtn">
          
        </div>
    </div>
     <div id="map-template"></div>


     <div id="needyourhelp">
        <p class="blink-2">Somebody needs your help!</p>
    </div>

    <div id="helperController">
        <div class="progressBarWrapper">
            <i class="fas fa-map-marker-alt"></i>
            <div class="lineProgress"></div>
        </div>
        <div class = box>
        <div class="HelperInfoWrapper">
            <div>Pick up</div>
            <div>12:45 PM</div>
            <div>757 Cadar St, San Calos</div>
            {{!-- <div class="imgContainer">
                <img src="/image/Agen.jpeg" width="70px" height="70px"/>
                <p>Kate</p>
            </div> --}}

        </div>
        <div class="inprogress">In Progress</div>
        </div>
    </div>

</div>
