 <link rel="stylesheet" href="/css/helper_nearByClinic.css">

<div id="map-template" class="emergencyMap"></div>
<div class="helper-detail">
    <div class="helpers">
        <div class="title">
            <div>Doctors: </div>
        </div>
        <div class="subtitle">
            <div>&ensp; 1. Emma </div>
            <div>3km</div>
        </div>
        <div class="subtitle">
            <div> &ensp; 2. Suhhee</div>
            <div>4.2km</div>
        </div>
        <div class="subtitle">
            <div>&ensp;  3. Emily </div>
            <div>4.5km</div>
        </div>
    </div>
    <div class="helpers">
        <div class="title">
            <div>Hospitals: </div>
        </div>
        <div class="subtitle">
            <div>&ensp;  1. St.George </div>
            <div>5km</div>
        </div>
        <div class="subtitle">
            <div> &ensp; 2. Queen General</div>
            <div>6.3km</div>
        </div>
        <div class="subtitle">
            <div> &ensp; 3. ON General </div>
            <div>7.8km</div>
        </div>
    </div>
</div>