<section class="home-section">
    <div class="container">
        <div class="row">

            <div class="home-text">
                <h2>Gina Kinworthy</h2>
                <p>gkinworthy4@feedburner.com</p>
                <a href="/emergency" type="button" class="btn btn-danger">EMERGENCY</a>
            </div>

            <div class="home-img">
               <div class="img-box">
                   <img src="/img/profile.jpg" alt="profile-img">
               </div>
            </div>

        </div>
    </div>
</section>