.container{
    height:100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top:40px;
    width:100%;
}

#contactpatient{
    height: 50px;
    background: lightgray;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 3px 5px grey;
    
}
.fa-phone-volume{
    font-size:25px; 
}
.patient-info-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:100%;
    width: fit-content;
}
.images{
    width:fit-content;
    align-self: center;

}
.images img{
    border-radius: 50%;
    left: 12px;
    position: relative;
}
.patient-info-wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    /* margin: 10px 0 0 25px; */
    position: relative;
    left: 30px;
}
.contactBtn{
    width:70px;
    height: 50px;
    padding:2px;
    margin:2px;
    background: no-repeat center/59% url(../image/phoneIcon.png);
}

.contactBtn p{
    font-size:12px;
}
#map-template{
    height: 41.5%;
    width: 93%;
    top: 134px;
    align-self: center;
    justify-self: center;
    z-index: 0;
    box-shadow: 2px 3px 5px grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#needyourhelp{
    height: 30px;
    background-color: #DC3545; 
    text-align: center;  
    margin:0;
    position:relative;
    top:420px;
    color: white;
    box-shadow: 2px 3px 5px grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;;
}
div.box{
    width: 312px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 2px 3px 5px grey;
    margin-right:15px;
}
#needyourhelp p{
    margin:5px;
    padding:0;
}

#helperController{
    height:40vh;
    margin: 0 30px 0 30px;
    position:relative;
    display:flex;
    top:415px;
    margin:30px 0 0 10px;
    height: 100px;
}
.progressbar{
    width:25px;
    margin-right: 2px;
}

.HelperInfoWrapper{
    display: inline-block;
    flex-direction: column;
    /* background-color: antiquewhite; */
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    height: 100px;
    width: 100%;
    
}

.HelperInfoWrapper img{
    border-radius: 50%;   
}

.inprogress{
    width: 90px;
    /* background-color: antiquewhite; */
    position: absolute;
    top: 8px;
    left: 230px;
}

.imgContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    text-align: center;
  
}

.progressBarWrapper{
    margin:0 5px 0 5px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.lineProgress{
    height:100%;
    width:0.5px;
    background-color: gray;
    align-items: center;
    box-shadow: 2px 3px 5px grey;
}


.blink-2 {
	-webkit-animation: blink-2 1s 1s infinite both;
	        animation: blink-2 1s 1s infinite both;
}

 @-webkit-keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  #map-template > div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-marker-pane > img:nth-child(2){
      border-radius: 50%;
  }