.container{
    height:100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top:40px;
    width:100%;
}

#confirmWrapper{
    background:lightgray;
    z-index: 10;
    display:flex;
    flex-direction: column;
    width:100%;
}

.introuble{
    position: relative;
}
.introuble p{
    position: relative;
    left: 7px;
    top: 13px;
}

h2{
    text-align: center;
}
#map-template{
    z-index:0;
	width:93%;
    align-self: center;
    justify-self: center;
    box-shadow: 2px 3px 5px grey;
}
#confirmWrapper .introuble>button {    position: absolute;
    top: 0;
    left: 170px;
    border-radius: 5px;
    width: 176px;
}
