.container{
    display: flex;
    flex-direction: column;
    position: relative;
    top:145px;
    width:100%;
    justify-items: center;
}

.fa-hand-holding-heart{
    color:#5cb85c;
}
.helperWrapper{
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.helperIconWrapper{
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.fa-hand-holding-heart{
    margin:0 5px 0 5px;
}
img{
    border-radius: 50%;
    align-self: center;
}
.starWrapper{
    display:flex;
    justify-content: center;
    padding-bottom: 15px;
}

.excellent{
    text-align: center;
}
.fa-heart{
    margin:5px;
    margin-top:10px;
}
.feedback{
    display:flex;
    justify-content: space-around;
    padding-top:5px;
    padding-bottom:10px;
    margin-left:15px;
    margin-right:15px;
}
.image{
    width:120px
}
.feedback p{
    margin-left:10px;
    border:1px solid lightgray;
    padding:5px;    
}
.levelup{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.levelup p{
    text-align: center;
}

#slogan{
    font-size: 10px;
}

.fa-heart{
    color:#d9534f
}

p{
    margin-bottom:0px;
}
body > main > div.container.d-flex{
    top: 55px;
    width: 92%;
    left: 6px;
}