.container{
    height:65vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top:55px;
    width:100%;
}

#confirmWrapper{
    z-index: 10;
    display:flex;
    flex-direction: column;
    width:100%;
    margin-top: 65px;
}

.introuble{
    position: relative;
}
.introuble p{
    position: relative;
    left: 7px;
    top: 24px;
}

h2{
    text-align: center;
}
#map-template{
    z-index:0;
	width:93%;
    align-self: center;
    justify-self: center;
    box-shadow: 2px 3px 5px grey;
    margin-top: 177px;
    height: 53%;
}
#confirmWrapper .introuble>button {    position: absolute;
    top: 20px;
    left: 170px;
    border-radius: 5px;
    width: 176px;
}
.confirmBtnWrapper{
    display:flex
}
div.container.d-flex{
    top: 55px;
    width: 92%;
    left: 6px;
}
div.container.d-flex button{
    width: 100%;
}