
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/*----Global Style----*/
body
{
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

*:not(i)
{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

::before, ::after
{
    box-sizing: border-box;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

img
{
    vertical-align: middle;
    max-width: 100%;
}

.container
{
    max-width: 1140px;
    margin: auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

/******************************************* Menu Bar Start******************************************/
 body
 {   
   /* make it look decent enough */
   background: #232323;
   color: #cdcdcd;
 }
 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 30px;
   left: 30px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 40px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 250px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 18px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
/* body{
	background-color: black;
	color: white;
} */
#map-template{
	height:100%;
	width:100%;
	top:0;
	position:absolute
}


/******************************************* Home section Start******************************************/
.home-text
{
    position: relative;
}

.home-section .row
{
    align-items: center;
}

.home-section .home-img
{
    margin-top: 50px;
    flex: 0 0 100%;
    padding: 0 15px;
    max-width: 100%;
    padding-top: 50px;
}

.home-section .img-box
{
    max-width: 260px;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}

.home-section .img-box img
{
    border-radius: 50%;
    width: 100%;
    vertical-align: middle;
}

.home-section .home-text
{
    position: absolute;
    flex: 0 0 100%;
    max-width: 100%;
    top: 440px;
    text-align: center;
}

.home-section .home-text h2
{
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

.home-section .home-text p
{
    margin-bottom: 30px;
}

.home-section .home-text a
{
    width: 200px;
    height: 40px;
    line-height: 28px;
}